html {
	font-family: Monospace;
}


/* SETUP FOR BACKGROUND */
body { 
	text-align: center;
	background: url(./media/ar_background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	margin: 0;
	padding: 0;
}

/* SETTINGS FOR HEADER */
ul.header { 
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0px;
	border: 0px solid #fff;
	overflow: hidden;
	background-color: #fff;
}

h1 { 
	list-style-type: none;
	margin: 0px;
	padding: 24px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	float: left;
	border-radius: 0px;
	border: 0px solid #fff;
	overflow: wrap;
	background-color: #fff;
	display: block;
	text-align: left;
	text-decoration: none;
}

h1:hover {
	background-color: #ddd;
}

p {
	font-size: 16px;
}

button {
	all: unset;
}

ul {
	text-align: left;
	margin-left: 25vw;
	margin-right: 25vw;
}

li.header {
	font-size: 16px;
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 21px 12px;
}

li button, li a {
	text-decoration: none;
	color: black;
}

li a:hover, li button:hover {
	background-color: #ddd;
}

li#logo a:hover {
	background-color: white;
}


span#subtext {
	font-weight: normal;
	font-size: 16px;
}


/* ANIMATION */
@keyframes pulse {
	0% {
		transform: scale(1.75);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.25);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* DEFAULTS FOR ALL MODELS */
img#normal {
	width: 10%;
	position: absolute;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	bottom: 0px;
	left: 0px;
	background: #fff;
}

img#hover {
	width: 9%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #fff;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulse 2s infinite;
}

/* ALL THE STAR THINGS */
img.normal {
	content: url("./media/star.png");
	width: 20px;
	position: absolute;
}

img.hover {
	content: url("./media/red_star.png");
	width: 20px;
	position: absolute;
	box-sahdow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulse 2s infinite;
}

/* STARS SPECIFIC POSITIONING */
img#bluebird {
	left: calc(50vw - 10vh) !important;
	top: calc(100vh - 32vh) !important;
}

img#begonia {
	left: calc(50vw - 25vh) !important;
	top: 46.25vh !important;
}

img#deer {
	left: calc(50vw - 20vh) !important;
	top: 47vh !important;
}

img#mushroom {
	left: calc(50vw - 14.5vh) !important;
	top: 37vh !important;
}

img#tree {
	left: calc(50vw - 2vh) !important;
	top: 28vh !important;	
}

img#chandelier {
	left: calc(50vw + 4vh) !important;
	top: 29vh !important;
}

img#diorama {
	left: calc(50vw + 5vh) !important;
	top: 31vh !important;
}

img#woodbird {
	left: calc(50vw + 5vh) !important;
	top: 26vh !important;
}

img#plates {
	top: 20vh !important;
}

img#sturgeon {
	left: calc(50vw - 2vh) !important;
	top: 21vh !important;
}

img#pot {
	left: calc(50vw - 5vh) !important;
	top: 27vh !important;
}

/* display the page contents */
.home {
	background: url(./media/ar_background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	display: block;
}

/* team menu */
.team {
	background: rgb(255, 255, 255, 0.8);
	background-color: rgb(255, 255, 255, 0.8) !important;
	padding: 10px;
	margin: 10px;
}

/* about menu */
.about {
	background: rgb(255, 255, 255, 0.8);
	background-color: rgb(255, 255, 255, 0.8) !important;
	padding: 10px;
	margin: 10px;
}

.hide {
	display: none;
}
